name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
#        os: [windows-latest, macos-latest, ubuntu-latest]
#        perl: ["5.42", "5.40"]
        os: [windows-latest]
        perl: ["5.40"]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Perl(Windows)
        if: runner.os == 'Windows'
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: strawberry
      - name: Setup Perl(Unix)
        if: runner.os != 'Windows'
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          # The distribution is not specified here

      - run: cpanm -n --with-configure --installdeps .
      - run: |
          perl Build.PL
          ./Build build
          ./Build test
