name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]
        perl: [ "5.42", "5.40" ]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: ${{ runner.os == 'Windows' && 'strawberry' || 'default' }}
        env:
          ACTIONS_STEP_DEBUG: false

      - name: Install Perl Module Manager
        run: cpanm Carton@v1.0.35

      - name: Install Perl Module Dependencies
        run: |
          carton install --deployment --without development 

      - name: Run Tests
        run: |
          perl ./Build.PL
          perl ./Build build
          perl ./Build test
        env:
          PERL5LIB: local/lib/perl5
