name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-latest, macos-latest, ubuntu-latest ]
        perl: [ "5.42", "5.40" ]
        distribution: [ strawberry, default ]
        exclude:
          - os: macos-latest
            distribution: strawberry
          - os: ubuntu-latest
            distribution: strawberry

    steps:
      - uses: actions/checkout@v6
      - name: Setup Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: ${{ matrix.distribution }}
      - name: Install Perl Module Dependencies
        run: carton install --deployment
      - run: |
          perl Build.PL
          ./Build build
          ./Build test
